p {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Roboto', sans-serif, Arial;
    background-color: rgb(252, 248, 248);
    margin: 0;
    height: 1000px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
}