p {
    /* Low Priority*/
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

/*
using p{} to remove unnecessary use of line of code
Declare it Global property for all paragraph
*/

.video-title {
    /* High Priority*/
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
    /*
  Though we used margin-bottom: 0; Globally, it still gets 5px because of
  a property called CSS Specificity.
  CSS Specificity -> The selector that's more specific has higher priority
  */
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 20px;
}

.video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    /*
  text-decoration: underline; -> Not a good idea
  Text Element -> Element inside a text
  */
}

.shop-link {
    cursor: pointer;
}

.shop-link:hover {
    text-decoration: underline;
}