.subscribe-button{
  background-color: rgb(197, 0, 0);
  color: white;
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.join-button{ 
  background-color: white;
  border-color: rgb(79, 79, 213);
  border-style: solid;
  border-width: 1px;
  color: rgb(64, 64, 188);
  height: 30px;
  width: 62px;
 border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.tweet-button{
  background-color: rgb(60, 141, 207);
  color: white;
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.para{
  font-family: ;
}